#leftBox {
  width: 33%;
  height: 200px;
  float: left;
}
#centerBox {
  width: 33%;
  height: 200px;
  float: left;
}
#rightBox {
  width: 33%;
  height: 200px;
  float: right;
}
#last-div {
  height: 200px;
}
#last-div-leftParagraph {
  display: inline-block;
}
